{% extends 'base.html' %}
{% load static %}

{% block 'title' %}Detalhes{% endblock %}

{% block 'body' %}
    <main class="w-100">
        <div class="container mt-2">
            {% if agendamento.status == 'C' %}
                <div class="alert alert-danger" role="alert">
                    Agendamento Cancelado
                </div>
            {% elif agendamento.status == 'F' %}
                <div class="alert alert-success" role="alert">
                    Esse agendamento já foi finalizado
                </div>
            {% endif %}    
            <div class="row">
                <div class="col-12 col-md-12 col-lg-8">
                    <div class="row p-3">
                        <div class="col-md-3"><img src="{{dado_barbeiro.foto.url}}" class="foto-perfil" alt=""></div>
                        <div class="col-md">
                            <p class="form-barbeiro  d-flex align-items-center justify-content-center pt-4">{{dado_barbeiro.nome}} <i class="bi bi-patch-check-fill icon-main ps-2"></i></p>
                            <p class="form-barbeiro  d-flex align-items-center justify-content-center">{{dado_barbeiro.descricao}}</p>
                        </div>    
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md">
                            <p class="form-barbeiro"><i class="icon-main bi bi-check-circle-fill"></i> Serviço agendado</p>
                        </div>
                        <div class="col-md">
                            <p class="form-barbeiro"><i class="{% if agendamento.status == 'F' %}icon-main{% endif %} bi bi-check-circle-fill"></i> Serviço finalizado</p>
                        </div>
                        <div class="col-md">
                            <p class="form-barbeiro"><i class="{% if agendamento.status == 'C' %}icon-main{% endif %} bi bi-check-circle-fill"></i> Serviço cancelado</p>
                        </div>
                    </div>
                    <hr>
                    <h3 class="form-barbeiro">Detalhes do agendamento</h3>
                    <br>
                    <p class="form-barbeiro"><i class="bi bi-calendar3 form-barbeiro"></i>&nbsp {{agendamento.datas_abertas.data}}</p>
                    <p class="form-barbeiro"><i class="bi bi-tag-fill form-barbeiro"></i></i>&nbsp R$ {{agendamento.total}}</p>
                    
                    <p class="form-barbeiro"><i class="bi bi-pencil-square form-barbeiro"></i>&nbsp 
                        {% for servico in agendamento.servico.all %}
                            {{ servico }}{% if not forloop.last %} / {% endif %}
                        {% empty %}
                            Nenhum serviço selecionado
                        {% endfor %}
                    </p>
                    <a href="{% url 'cancelar_agendamento' agendamento.id %}" class="btn btn-barber btn-lg"><i class="bi bi-stopwatch-fill"></i> Cancelar agendamento</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock %}